

.navigationbar{
    text-align: center;
    width: 100%;
    background-color: rgb(211, 211, 211);
    margin-bottom: 4px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }


.header{
    text-align: center;
    width: 100%;
    margin-bottom: 4px;
}


.box{
    display: flex;
    justify-content: center;
}



.box1{
    border-bottom: 4px solid gray;
    padding: 10px;
     
}

.box1:hover{
  background-color: gray;
  color: white;
}


.box2{
    border-bottom: 4px solid red;
    padding: 10px;
}

.box2:hover{
    background-color: red;
    color: white;
  }
.box3{
    border-bottom: 4px solid orange;
    padding: 10px;
}

.box3:hover{
    background-color: orange;
    color: white;
  }
.box4{
    border-bottom: 4px solid yellow;
    padding: 10px;
}

.box4:hover{
    background-color: yellow;
    color: white;
  }
.box5{
    border-bottom: 4px solid green;
    padding: 10px;
}

.box5:hover{
    background-color: green;
    color: white;
  }
.box6{
    border-bottom: 4px solid skyblue;
    padding: 10px;
}

.box6:hover{
    background-color: skyblue;
    color: white;
  }
.box7{
    border-bottom: 4px solid darkblue;
    padding: 10px;
}

.box7:hover{
    background-color: darkblue;
    color: white;
  }

  .text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 120;
    font-size: 20px;
    line-height: 8px;
}

.main{
  padding: 40px;
}
.first{
  position: relative; bottom: 100px;
  color: white;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1px;   
  position: relative; bottom: 70px; 
}
.card{
  width: 275px;
  background-color: aqua;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgb(red, green, blue);
  margin: 10px;
}
.card>img{
  width: 100%;
  height: auto;

}
.content{
  padding: 20px;
  
}

.slider-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;   
  position: relative; bottom: 20px;
  
}
.slider{
  width: 225px;
  background-color: lightslategray;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgb(red, green, blue);
  margin: 0px;
  position: relative;bottom: 20px;
}
.slider>img{
  width: 100%;
  height: auto;
  

}
.slider-content{
  padding: 10px;
  
}


.bottomcard-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1px;   
  position: relative; bottom: 10px;
}
.bcard1{
  width: 275px;
  background-color: black;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgb(red, green, blue);
  margin: 10px;
}
.bcard1>img{
  width: 100%;
  height: auto;

}
.bottam-content{
  padding: 20px;
  color: white;
  
}
.bottam-content2{
  padding: 20px;
  color: red;
  
}
.bottam-content3{
  padding: 20px;
  color: lightseagreen;
  
}
.bottam-content4{
  padding: 20px;
  color: lightpink;
  
}
.bottam-content5{
  padding: 20px;
  color: yellowgreen;
  
}
.bottam-content6{
  padding: 20px;
  color: lightblue;
  
}








@media only screen and (max-width: 600px) {
    .header{
    text-align: center;
    width: 100%;
    margin-bottom: 4px;
    position: relative; left: 2px;
    background-color: white;
    }

    .box{
      display: flex;
      width: 100%;
      height: 20%;
      position: relative;left: 2px;
       
    }

    .text{
    font-weight: 60;
    font-size: 10px;
    line-height: 4px;
    }
    
    
    .main>img{
      padding: 10px;
      width: 240px;
      position: relative;right: 15px;
      height: 220px;
    }
    .intro>.first{
      position: relative; bottom: 100px;
      color:yellow;
    } 

    
    
    
}